<!DOCTYPE html>

<html lang="fr">

    <head>
        <title>Jean Bon Dashboard</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=0.8"/>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/home.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <script src="js/script.js"></script>
    </head>

    <body>
        <div class="center">
            <p>Vous devez vous connecter pour utiliser ce bot</p>
            <a class="connect-btn" href="auth/discord">Se connecter</a>
        </div>
    </body>

</html>