<!DOCTYPE html>

<html lang="fr">

    <head>
        <title>Jean Bon Dashboard</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=0.8"/>
        <link rel="stylesheet" href="/dashboard/css/style.css">
        <link rel="stylesheet" href="/dashboard/css/side-panel.css">
        <link rel="stylesheet" href="/dashboard/css/dashboard.css">
        <link rel="stylesheet" href="/dashboard/css/createpoll.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <script src="/dashboard/js/dashboard.js"></script>
        <script src="/dashboard/js/createPoll.js"></script>
    </head>

    <body>
        <%- include('side-panel') %> 

        <div class="dashboard">

            <h1>Créer un sondage</h1>
        
            <form method="POST">
                <textarea oninput="update()" id="message" placeholder="message" name="message"></textarea>

                <div id="responses"></div>

                <button type="button" class="add poll_button" id="add_btn" onclick="addResponse()">Ajouter une réponse</button>

                <input id="submit" class="submit poll_button" type="submit" value="Créer" disabled> 

            </form>

        </div>
        
    </body>

</html>