<!DOCTYPE html>

<html lang="fr">

    <head>
        <title>Jean Bon Dashboard</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/dashboard.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="side-panel">
            <div class="guild-panel">
                <img class="guild-icon" src="<%= guildicon %>" alt="">
                <div class="guild-info">
                    <p class="guild-name"><%= guildname %></p>
                </div>
            </div>
        </div>
    </body>

</html>