<!DOCTYPE html>

<html lang="fr">

    <head>
        <title>Erreur 404</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/error.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    </head>

    <body>
        <div>
            <div class="error-container">
                <h1>Erreur 404</h1>
                <p>Impossible d'acceder à <%= url %></p>
            </div>
        </div>
    </body>

</html>