<!DOCTYPE html>

<html lang="fr">

    <head>
        <title>Jean Bon Dashboard</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/home.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <script src="js/script.js"></script>
    </head>

    <body>
        <div class="center">
            <p>Selectionnez un serveur</p>
            <div class="server-panel">

                <% 
                var count = guilds.length
                for(var i = 0; i < count; i++) { 
                    var icon = guilds[i].guild.iconURL('png', true, 256) || "/dashboard/images/default-icon.png";
                    var dashboardLink = "/dashboard/" + guilds[i].guild.id
                    var name = guilds[i].guild.name;
                    %>
                <div class="server">
                    <a href="<%- dashboardLink %>" class="server-link"><img src="<%- icon %>" alt=""></a>
                    <p class="server-name"><%- name %></p>
                    <% if (guilds[i].member.hasPermission('ADMINISTRATOR')) { %>
                    <div class="tag"><p>ADMINISTRATEUR</p></div>
                    <% } %>
                </div>
                <% } %>
                <div class="server">
                    <a href="https://discord.com/api/oauth2/authorize?client_id=755381900830310472&permissions=8&redirect_uri=https%3A%2F%2Fservice-4761.something.gg%2Fdashboard%2Fauth%2Fdiscord%2Fredirect&scope=bot" class="server-link"><img src="/dashboard/images/add.png" alt=""></a>
                    <p class="server-name">Ajouter un serveur</p>
                </div>
            </div>
        </div>
    </body>

</html>