<!DOCTYPE html>

<html lang="fr">

    <head>
        <title>Jean Bon Dashboard</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/home.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <script src="js/script.js"></script>
    </head>

    <body>
        <div class="center">
            <p>Selectionnez un serveur</p>
            <div class="server-panel">
                <% 
                var count = guilds.length
                for(var i = 0; i < count; i++) { 
                    var icon = guilds[i].iconURL() || "/dashboard/images/default-icon.png";
                    var dashboardLink = "/dashboard/" + guilds[i].id
                    var name = guilds[i].name;
                    %>
                <div class="server">
                    <a href="<%- dashboardLink %>" class="server-link"><img src="<%- icon %>" alt=""></a>
                    <p><%- name %></p>
                </div>
                <% } %>
            </div>
        </div>
    </body>

</html>