@import '../../../Variables.scss';

/* Computers */
@media only screen and (min-width: 600px) 
{
    div.app
    {
        padding: 100px 10vw;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow-y: scroll;

        h1
        {
            font-size: 42px;
            margin: 0;
            margin-bottom: 50px;
        }
    }
}

/* Phones */
@media only screen and (max-width: 600px) 
{
    div.app
    {
        padding: 75px 5vw;

        h1
        {
            font-size: 42px;
            margin: 0;
            margin-bottom: 50px;
        }
    }
}

div.app
{
    h1
    {
        a.button
        {
            color: $link-color;
            float: right;
            font-size: 18px;
            text-decoration: none;
            padding: 10px;
            border: solid 2px;
            border-radius: 10px;
            transition-duration: 200ms;
        }

        a.button:hover
        {
            color: $link-color-hover;
        }
    }
}
