div.servers
{
    transition-duration: 200ms;
    background-color: black;

    a.server-item
    {
        display: flex;
        align-items: center;
        transition-duration: 200ms;
        cursor: pointer;
        text-decoration: none;
        border-left: solid black 0px;
        border-radius: 0px;
        animation-name: fadeIn;
        animation-duration: 0.5s;

        div.container
        {
            display: flex;
            height: 60px;
            width: 100%;
        
            img.server-img
            {
                height: 100%;
                border-radius: 50%;
                margin: 0 20px;
            }
        }
    }

    a.server-item:hover
    {
        background-color: rgb(40, 40, 40);
    }
}

@keyframes fadeIn
{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes serverPanelSlide
{
    from {
        transform: translateX(-100px);
    }
    to {
        transform: translateX(0px);
    }
}

div.dashboard
{
    display: block;
    transition-duration: 200ms;
}

/* Phones */
@media only screen and (max-width: 600px) 
{
    div.servers
    {
        display: flex;
        height: auto;
        width: 100%;
        padding: 0 20px;
        overflow-y: hidden;
        overflow-x: scroll;

        a.server-item
        {
            height: 80px;
            width: auto;
            margin: 0 0;

            div.container
            {
                p.server-name
                {
                    display: none;
                }
            }
        }
    }

    a.server-item.active
    {
        border-top: solid white 5px;
        border-radius: 5px;
    }

    div.dashboard
    {
        position: initial;
        overflow-y: scroll;
    }
}

/* Computers */
@media only screen and (min-width: 600px) 
{
    div.servers
    {
        display: block;
        height: 100%;
        width: 100px;
        padding: 20px 0;
        position: absolute;
        overflow-y: scroll;
        overflow-x: hidden;
        animation-name: serverPanelSlide;
        animation-duration: 0.5s;

        a.server-item
        {
            height: 80px;
            width: 300px;
            margin: 10px 0;

            div.container
            {
                p.server-name
                {
                    display: block;
                    color: white;
                    font-weight: bold;
                    margin: auto 0;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    width: 180px;
                    opacity: 0;
                    transition-duration: 200ms;
                    text-decoration: none;
                }
            }
        }
    }

    div.servers:hover
    {
        width: 300px;

        a.server-item
        {
            div.container
            {
                p.server-name
                {
                    opacity: 1;
                }
            }

        }
    }

    div.servers:hover + div.dashboard
    {
        transform: translateX(200px);
    }

    a.server-item.active
    {
        border-left: solid white 5px;
        border-radius: 5px;
    }

    div.dashboard
    {
        position: absolute;
        top: 0%;
        bottom: 0%;
        left: 100px;
        right: 0%;
    }
}