div.servers
{
    display: block;
    position: absolute;
    background-color: black;
    height: 100%;
    width: 100px;
    transition-duration: 200ms;
    padding: 20px 0;
    overflow-y: scroll;
    overflow-x: hidden;
    animation-name: serverPanelSlide;
    animation-duration: 0.5s;

    div.server-item
    {
        height: 80px;
        width: 300px;
        margin: 10px 0;
        display: flex;
        align-items: center;
        transition-duration: 200ms;
        cursor: pointer;
        animation-name: fadeIn;
        animation-duration: 0.5s;

        div.container
        {
            display: flex;
            height: 60px;
            width: 100%;
        
            img.server-img
            {
                height: 100%;
                border-radius: 50%;
                margin: 0 20px;
            }
        
            p.server-name
            {
                display: block;
                color: white;
                font-weight: bold;
                margin: auto 0;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                width: 180px;
                opacity: 0;
                transition-duration: 200ms;
                text-decoration: none;
            }
        }
    }

    div.server-item:hover
    {
        background-color: rgb(40, 40, 40);
    }
}

@keyframes fadeIn
{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes serverPanelSlide
{
    from {
        transform: translateX(-100px);
    }
    to {
        transform: translateX(0px);
    }
}

div.servers:hover
{
    width: 300px;

    div.server-item
    {
        div.container
        {
            p.server-name
            {
                opacity: 1;
            }
        }

    }
}

div.dashboard
{
    display: block;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 100px;
    right: 0%;
    transition-duration: 200ms;
}

div.servers:hover + div.dashboard
{
    transform: translateX(200px);
}