$dark_shadow: rgba(0, 92, 145, 0.5);
$light_shadow: rgba(255, 255, 255, .2);

a.tile.polls
{
    background: linear-gradient(135deg, rgb(42, 160, 180), rgb(23, 101, 146));
    color: white;
    box-shadow: 5px 5px 10px $dark_shadow,
    -5px -5px 10px $light_shadow;
}

a.tile.polls:hover
{
    box-shadow: 3px 3px 7px $dark_shadow,
    -3px -3px 7px $light_shadow;
}

a.tile.polls:active
{
    box-shadow: 2px 2px 5px $dark_shadow,
    -2px -2px 5px $light_shadow;
}

a.tile.polls div.preview-poll
{
    position: absolute;
    top: 120px;
    bottom: 30px;
    left: 30px;
    right: 30px;
    font-size: 20px;

    p.q
    {
        margin: 0;
        font-weight: normal;
    }

    div.answers
    {
        width: 80%;
        margin-top: 20px;
    }

    p.a
    {
        margin: 0;
        margin-top: 25px;
    }

    div.a
    {
        position: relative;
        height: 20px;
        margin-top: 8px;
        border-radius: 10px;
        background: linear-gradient(90deg, rgb(255, 129, 56), rgb(255, 51, 0));
        box-shadow: 3px 3px 20px rgba(255, 81, 0, 0.5);

        p
        {
            margin: 0;
            position: absolute;
            right: -10px;
            width: 0;
        }
    }
}