@import '../../../Variables.scss';

a.poll-nav-link
{
    display: block;
    position: relative;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    width: 100%;
    transition-duration: 200ms;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.05);

    p
    {
        margin: 10px;
        max-width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    p.q
    {
        color: black;
        font-size: 18px;
    }

    p.a, p.error, p.warning
    {
        color: white;
        padding: 8px;
        font-weight: bold;
        border-radius: 8px;
        width: fit-content;
    }

    p.a
    {
        background-color: green;
    }

    p.error
    {
        background-color: red;
    }

    p.warning
    {
        background-color: orange;
    }
}

/* Computers */
@media only screen and (min-width: 600px) 
{
    a.poll-nav-link:hover
    {
        background: rgba(0, 0, 0, 0.1);
    }

    a.poll-nav-link:active
    {
        background: rgba(0, 0, 0, 0.15);
    }

    div.app.poll
    {
        div.a
        {
            p.a
            {
                margin: auto 0;
            }

            display: flex;
            height: 40px;
        }
    }
}

/* Phones */
@media only screen and (max-width: 600px) 
{
    a.poll-nav-link:active
    {
        background: rgba(0, 0, 0, 0.15);
    }

    div.app.poll
    {
        div.a
        {
            display: block;

            p.a
            {
                margin-bottom: 10px;
            }

            div.percent-container
            {
                height: 40px;
            }
        }
    }
}

div.app.poll
{
    p
    {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    h1
    {
        word-wrap: break-word;
    }

    a.discord-link
    {
        color: $link-color;
        transition-duration: 200ms;
    }

    a.discord-link:hover
    {
        color: $link-color-hover;
    }

    div.a
    {
        margin: 30px 0;

        p.a
        {
            flex: 1;
            font-size: 20px;
        }

        div.percent-container
        {
            flex: 2;
            padding-right: 80px;

            div.percent
            {
                background-color: blue;
                height: 100%;
                border-radius: 8px;
                position: relative;

                p
                {
                    display: table-cell;
                    position: absolute;
                    right: -10px;
                    width: 0;
                    height: 100%;
                    margin: 0;
                    padding: 5px 0;
                    overflow: visible;
                    font-size: 24px;
                    font-weight: bold;
                    vertical-align: center;
                }
            }
        }
    }
}

div.app.create-poll
{
    
}