a.poll-nav-link
{
    display: block;
    position: relative;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    width: 100%;
    transition-duration: 200ms;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.05);

    p
    {
        margin: 10px;
        max-width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    p.q
    {
        color: black;
        font-size: 18px;
    }

    p.a, p.error, p.warning
    {
        color: white;
        padding: 8px;
        font-weight: bold;
        border-radius: 8px;
        width: fit-content;
    }

    p.a
    {
        background-color: green;
    }

    p.error
    {
        background-color: red;
    }

    p.warning
    {
        background-color: orange;
    }
}

/* Computers */
@media only screen and (min-width: 600px) 
{
    a.poll-nav-link:hover
    {
        background: rgba(0, 0, 0, 0.1);
    }

    a.poll-nav-link:active
    {
        background: rgba(0, 0, 0, 0.15);
    }
}

/* Phones */
@media only screen and (max-width: 600px) 
{
    a.poll-nav-link:active
    {
        background: rgba(0, 0, 0, 0.15);
    }
}

div.app.poll
{
    p
    {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    h1
    {
        word-wrap: break-word;
    }

    div.a
    {
        border: solid black 1px;
        display: flex;
        height: 50px;
        margin: 20px 0;

        p
        {
            margin: auto 0;
        }

        p.a
        {
            border: solid red 1px;
            width: 20vw;
            font-size: 20px;
        }
    }
}