div.setting
{
    box-sizing: border-box;
    margin: 20px 20px 20px 20px;
    padding: 20px 50px;
    border-radius: 15px;
    box-shadow: 
        5px 5px 10px rgba(0, 0, 0, 0.1),
        -5px -5px 10px rgba(255, 255, 255, 1);
}

div.setting h2
{
    font-size: 20px;
}

div.setting select
{
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    outline: none;
    color: white;
    background: linear-gradient(to bottom right, rgb(41,43,47), rgb(64,68,75));
    box-shadow: 
    5px 5px 10px rgba(0, 0, 0, 0.2),
    -5px -5px 10px rgba(255, 255, 255, 1);
    transition-duration: 200ms;
}

div.setting select:hover
{
    transform: scale(0.995);
    box-shadow: 
    5px 5px 10px rgba(0, 0, 0, 0.2),
    -5px -5px 10px rgba(255, 255, 255, 1),
    inset 5px 5px 10px rgba(0, 0, 0, 0.5),
    inset -5px -5px 10px rgba(255, 255, 255, 0.2);
}

div.setting select:active
{
    transform: scale(0.99);
    box-shadow: 
    5px 5px 10px rgba(0, 0, 0, 0.2),
    -5px -5px 10px rgba(255, 255, 255, 1),
    inset 5px 5px 10px rgba(0, 0, 0, 0.8),
    inset -5px -5px 10px rgba(255, 255, 255, 0.3);
}

div.setting select option
{
    background-color: rgb(64,68,75);
}

div.dashboard input.submit
{
    margin: 20px;
    border-radius: 15px;
    border: none;
    background: linear-gradient(to right, rgb(0, 153, 255), rgb(48, 203, 255));
    padding: 15px 50px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    outline: none;
    box-shadow: 
    5px 5px 10px rgba(0, 0, 0, 0.2),
    -5px -5px 10px rgba(255, 255, 255, 1);
    transition-duration: 200ms;
}

div.dashboard input.submit:hover
{
    transform: scale(0.995);
    box-shadow: 
    5px 5px 10px rgba(0, 0, 0, 0.2),
    -5px -5px 10px rgba(255, 255, 255, 1),
    inset 5px 5px 10px rgba(0, 0, 0, 0.07),
    inset -5px -5px 10px rgba(255, 255, 255, 0.3);
}

div.dashboard input.submit:active
{
    transform: scale(0.99);
    box-shadow: 
    5px 5px 10px rgba(0, 0, 0, 0.2),
    -5px -5px 10px rgba(255, 255, 255, 1),
    inset 5px 5px 10px rgba(0, 0, 0, 0.13),
    inset -5px -5px 10px rgba(255, 255, 255, 0.4);
}