@media only screen and (min-width: 1000px) {

    div.dashboard
    {
        left: 250px;
        right: 0px;
        padding: 70px 30px;
    }

    div.dashboard h1
    {
        margin: 20px 20px;
    }

}

@media only screen and (max-width: 999px) {

    div.dashboard
    {
        top: 100px;
        left: 0;
        right: 0;
        padding: 50px 20px;
    }

}


div.dashboard
{
    position: absolute;
    overflow-y: auto;
    z-index: 0;
}