div.error-container
{
    position: absolute;
    margin: 0;
    height: 500px;
    width: 900px;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color:  rgb(235, 245, 250);
    box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.1),
    -10px -10px 12px rgba(255, 255, 255, 0.8);
}

div.error-container h1
{
    font-size: 80px;
    margin: 100px 100px;
}

div.error-container p
{
    font-size: 24px;
    margin: 100px 100px;
    word-wrap: break-word;
}