@media only screen and (min-width: 1000px) {

    body
    {
        overflow-x: hidden;
    }

    div.server-panel
    {
        flex-direction: row;
        height: auto;
    }

    div.server-panel div.server
    {
        height: 450px;
    }

}

@media only screen and (max-width: 999px) {

    div.server-panel
    {
        flex-direction: column;
    }

    div.server-panel div.server
    {
        height: 500px;
    }

    a.server-link
    {
        margin-top: 50px;
    }

}

div.center
{
    position: absolute;
    margin: 0;
    transform: translate(-50%, 0%);
    width: 100%;
    top: 30%;
    left: 50%;
    text-align: center;
}

div.center p
{
    font-size: 24px;
}

div.center a.connect-btn
{
    width: 150px;
    font-size: 20px;
    padding: 25px 50px;
    border-radius: 30px;
}

div.center a.connect-btn
{
    display: block;
    color: black;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    margin: auto;
    margin-top: 50px;
    box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.1),
    -10px -10px 12px rgba(255, 255, 255, 0.8),
    inset 10px 10px 12px rgba(0, 0, 0, 0),
    inset -10px -10px 12px rgba(255, 255, 255, 0);
    transition-duration: 100ms;
}

div.center a.connect-btn:hover
{
    box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.1),
    -10px -10px 12px rgba(255, 255, 255, 0.8),
    inset 10px 10px 12px rgba(0, 0, 0, 0.05),
    inset -10px -10px 12px rgba(255, 255, 255, 0.4);
}

div.center a.connect-btn:active
{
    box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.05),
    -10px -10px 12px rgba(255, 255, 255, 0.4),
    inset 10px 10px 12px rgba(0, 0, 0, 0.05),
    inset -10px -10px 12px rgba(255, 255, 255, 0.4);
}

div.server-panel
{
    width: 100vw;
    display: flex;
    flex-wrap: nowrap;
    justify-content: right;
    overflow-x: auto;
}

div.server-panel div.server
{
    min-width: 400px;
    margin: auto;
}

div.server-panel div.server p.server-name
{
    margin: 50px 0 10px 0;
    padding: 0;
}

div.server-panel div.server div.tag
{
    position: relative;
    padding: 0;
}

div.server-panel div.server div.tag
{
    margin: 10px 0 20px 0;
}

div.server-panel div.server div.tag p
{
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 6px;
}

div.server-panel div.server div.tag p
{
    margin: auto;
    color: white;
    background-color: red;
    width: fit-content;
}

a.server-link img
{
    z-index: -1;
    position: relative;
    display: block;
    width: 256px;
    height: 256px;
    border-radius: 50%;
    margin-top: 30px;
}

a.server-link
{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 256px;
    height: 256px;
    border-radius: 50%;
    transition-duration: 200ms;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.15),
    -10px -10px 20px rgba(255, 255, 255, 1),
    inset 10px 10px 20px rgba(0, 0, 0, 0),
    inset -10px -10px 20px rgba(255, 255, 255, 0);
}

a.server-link:hover
{
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.15),
    -10px -10px 20px rgba(255, 255, 255, 1),
    inset 10px 10px 20px rgba(0, 0, 0, 0.2),
    inset -10px -10px 20px rgba(255, 255, 255, 0.3);
}

a.server-link:active
{
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1),
    -10px -10px 20px rgba(255, 255, 255, 0.5),
    inset 10px 10px 20px rgba(0, 0, 0, 0.2),
    inset -10px -10px 20px rgba(255, 255, 255, 0.3);
}