@media only screen and (min-width: 1000px) {

    .cards
    {
        display: flex;
        flex-wrap: wrap;
    }

    .card
    {
        width: 450px;
        margin: 20px 20px;
    }

}

@media only screen and (max-width: 999px) {

    .card
    {
        width: 100%;
        margin: 20px 0px;
    }

}

.card
{
    position: relative;
    display: block;
    box-sizing: border-box;
    background: linear-gradient(to bottom right, rgb(126, 186, 241), rgb(87, 195, 231));
    border-radius: 15px;
    box-shadow: 
        5px 5px 10px rgba(0, 0, 0, 0.1),
        -5px -5px 10px rgba(255, 255, 255, 1);
}

.card div.title
{
    color: white;
    padding: 20px 40px;
    border-radius: 15px 15px 0px 0px ;
    background: linear-gradient(to bottom right, rgb(50, 139, 255), rgb(47, 184, 238));
}

.card div.title h2
{
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

.card div.body
{
    padding: 20px 30px;
    border-radius: 0px 0px 15px 15px;
}

.card a.link
{
    display: table;
    color: white;
    margin-top: 15px;
    transition-duration: 200ms;
}

.card a.link:hover
{
    opacity: 0.8;
    transform: scale(0.98);
}

.card div.body a.poll
{
    display: block;
    box-sizing: border-box;
    color: black;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px 30px;
    margin-bottom: 5px;
    border-radius: 15px;
    text-decoration: none;
    transition-duration: 200ms;
}

.card div.body a.poll:hover
{
    background-color: rgba(255, 255, 255, 0.23);;
    transform: scale(0.995);
}

.card div.body a.poll p
{
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}

.card div.body a.poll p.A
{
    display: table;
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 600;
    color: white;
    padding: 5px 12px;
    border-radius: 7px;
}

.card div.body a.poll p.A.winner
{
    background-color: rgb(0, 190, 0);
}

.card div.body a.poll p.A.undefined
{
    background-color: rgb(255, 174, 0);
}

.card div.body a.poll p.A.error
{
    background-color: rgb(255, 0, 0);
}