@import './Variables.scss';

*
{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body
{
    margin: 0;
    overflow: hidden;
    background-color: $background-color;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(200, 200, 200);
    border-radius: 4px;
    border: solid 1px transparent;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(140, 140, 140); 
}