@import './Variables.scss';

*
{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/* Phones */
@media only screen and (max-width: 600px) 
{
    
}

/* Computers */
@media only screen and (min-width: 600px) 
{
    body
    {
        overflow-x: hidden;
    }
}

body
{
    margin: 0;
    background-color: $background-color;
}

input[type="text"]
{
    padding: 10px 12px;
    font-size: 16px;
    border: solid grey 1px;
    border-radius: 8px;
    outline: none;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(200, 200, 200);
    border-radius: 4px;
    border: solid 1px transparent;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(140, 140, 140); 
}